<%- include('header') -%>

        <div class="content container p-4">
            <form method="GET" class="form-group mb-4">
                <div class="input-group">
                    <input name="busca" id="searchField" placeholder="Pesquisar" type="text" class="form-control" value="">
                    <button class="btn bg-green text-black" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>

            <br><br>
 
            <% for (let item in news) { %>
                <div class="row mb-3">
                    <div class="col">
                        <a href = '/news?id=<%= news[item].id %>'>
                            <strong><h2> <%= news[item].title %> </h2></strong><br>
                        </a>
                        
                        <p class="text-justify">
                            <%- news[item].body.slice(0, 255) -%>...
                        </p>
                    </div>

                    <div class="col-2">
                        <a href="/update_news?id=<%= news[item].id %>">
                            <button type="button" class="btn btn-primary">Editar</button>
                        </a>
                        <a href="/delete_news?id=<%= news[item].id %>">
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </a>
                    </div>
                </div>
            <% } %>

        </div>
    </body>
</html>